@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

:root {
    --color_main: #2F5D8C;
    --color_sub: #F5F7FA;
    --color_bg: #FFFFFF;
    --color4: #2B2F36;

    --color_banner_mask: rgba(47, 93, 140, 0.35);

    --font_title: "Noto Sans TC", sans-serif;
    --font_context: "Noto Sans TC", sans-serif;
}

/* font weight */
.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

/* font color */
.btn-icon-color {
    color: var(--color_banner_mask);
}